* {
    box-sizing: border-box;
}

.container {

    width: 100%;
    margin: 0 auto;
}

body {
    
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

header {

    background-color: #222;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.center {
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.skill-itens{
    display: block;
    justify-content: left;
    margin: 0;
    padding: 0;
}
.skill-pers{
    display: block !important;
    justify-content: left !important;
    margin-left: 4em !important;
}
.l-pers{
    padding: 1em 1em;
    margin: 0.3em;
    background-color:beige;
    font-size: 16px;
    flex-direction: column;
    border-radius: 5px;
    list-style:square !important;

}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #222;
}

li a:hover {
    border-bottom: 1px solid #fff;
}

.cover {

    margin: 1em 0.5em;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.Skill-setup{
    display: flex;
    align-items: center;
}
.Skill img {
    width: 60%;
    margin-left: 4em;
    margin-right: 2em;
    border-radius: 7px;

}

.cover img {
    width: 20%;
    margin-right: 1em;
    border-radius: 5px;
    margin-left: 0.5em;
}

.desc {
    width: 75%;
}

.desc p:first-letter {
    font-size: 30px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.projects-itens {

    margin: 0.5em 0px;
}

.projects li {

    padding: 4em 1em;
    background-color: #eee;
    font-size: 16px;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.6s ease;
    margin: 0px 0.5em;
    width: 100%;
}
@media(max-width: 1100px){
    .projects li{
        flex-wrap: wrap;
    }
}
.projects li:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-title {

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.project-desc {
    font-size: 15px;
}
.contact-setup{
    position: absolute;
    display: flex;
    margin-top: 2em;
    background-color: azure;
    width: 100%;
    text-align: center;
}
@media (max-width: 768px) {
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .contact-setup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fa-brands {
        font-size: 100px;
    }
}